#box1{
    width: 200px;
    height: 200px;
    background-color: rgb(100, 100, 255);
    position:sticky;
  top: 0px;
}
#box2{
    width: 100px;
    height: 100px;
    background-color: rgb(253, 17, 17);
    position:absolute;
  top: 50px;
left: 50px;





}