h1{
    border-style:solid ;
    border-width: 3px;
    border-color: blue;
    border-radius: 20px;
}
h2{

    border:3px double hsl(0, 87%, 44%);

}
h3{

    border-style:dashed ;
}
h4{
    border-style:dotted ;
}
h5{

    border-style:groove ;

}
    h6{
    
    border-style:ridge ;
    }


    h7{
    border-style:inset;



    }

    h8{
    border-style:outset ;



    }
    h9{


    border-style:none ;


    }
p{
    border-bottom: 3px solid rgb(255, 48, 48);
    border-top: 3px solid rgb(248, 248, 71);
border-left: 3px solid rgb(48, 253, 48);
border-right: 3px solid purple;
border-radius: 10px;


}