<!DOCTYPE html>
<html>
<head>
<title>website</title>
<link rel="stylesheet" href="layout.css">
</head>

<body>
<header>
    <h1>header</h1>

</header>
<nav class="navbar">
    
</nav>
<main>
    <aside>
        <h2>this is aside</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Animi possimus modi minima officia illo quos assumenda doloremque eveniet ea! Magnam reprehenderit deleniti tempore nesciunt dolorem animi quibusdam vel dolore praesentium?</p>
    </aside>


    <section>
<h2>this is section</h2>
<p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Repellat necessitatibus consectetur sunt aspernatur pariatur doloremque hic, delectus totam ipsum excepturi iure recusandae dolorem possimus? Optio cum quasi nulla ipsa. Voluptate?</p>
<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere recusandae suscipit qui. Voluptate temporibus, ea iure id libero qui ex nemo, quae tenetur ad excepturi eum dolor vero aperiam aliquam!</p>
    </section>





<article>
    <h2>this is artical</h2>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere recusandae suscipit qui. Voluptate temporibus, ea iure id libero qui ex nemo, quae tenetur ad excepturi eum dolor vero aperiam aliquam!</p>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Facere recusandae suscipit qui. Voluptate temporibus, ea iure id libero qui ex nemo, quae tenetur ad excepturi eum dolor vero aperiam aliquam!</p>
</article>






<div></div>

</main>
<footer>
<h2>footer</h2>




</footer>
</body>
</html>