*{
    box-sizing: border-box;
}
body{
    margin: 0px;
}
header{
    background-color:  rgb(160, 160, 160);
    text-align: center;
    padding: 25px;
}
.navbar{
    background-color: rgb(34, 34, 34);
    height: 50px;
}
aside{
    width: 20%;
float: left;
padding: 10px;


}
section{
    width: 40%;
float: left;
padding: 10px;

}
article{
    width: 40%;
float: left;
padding: 10px;
}
footer{
    background-color:  rgb(160, 160, 160);
    text-align: center;
    padding: 25px;
    display: block;
    clear: both;
}
@media screen and(max-width:600px){
    aside,section,article{
        width: 100px;
    }
}




